absl-py==2.0.0
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.2.0
annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
appnope==0.1.3
asgiref==3.8.1
asttokens==2.2.1
astunparse==1.6.3
asyncio==3.4.3
attrs==23.1.0
backcall==0.2.0
backoff==2.2.1
black==23.12.1
blinker==1.7.0
cachetools==5.3.2
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
cohere==4.45
colorlog==6.8.2
comm==0.1.4
contourpy==1.1.0
cycler==0.11.0
datasets==2.20.0
debugpy==1.6.7.post1
decorator==5.1.1
dill==0.3.8
distro==1.9.0
estyp==0.6.0
et-xmlfile==1.1.0
executing==1.2.0
fastavro==1.9.3
fastjsonschema==2.19.0
filelock==3.12.4
flatbuffers==23.5.26
fonttools==4.42.0
frozenlist==1.4.1
fsspec==2024.5.0
gast==0.5.4
gitdb==4.0.11
GitPython==3.1.41
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gower==0.1.2
grpcio==1.59.2
h11==0.14.0
h5py==3.10.0
htmltools==0.5.2
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.23.4
idna==3.4
imageio==2.31.5
importlib-metadata==6.11.0
ipykernel==6.25.2
ipython==8.14.0
ipython-genutils==0.2.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.1
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
judini==0.1.9
jupyter_client==8.3.0
jupyter_core==5.3.1
keras==2.14.0
kiwisolver==1.4.4
kmodes==0.12.2
lazy_loader==0.3
libclang==16.0.6
lime==0.2.0.1
linkify-it-py==2.0.3
llvmlite==0.41.1
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
mat4py==0.5.0
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.1
mdurl==0.1.2
mizani==0.9.3
ml-dtypes==0.2.0
mlxtend==0.23.0
mpmath==1.3.0
multidict==6.0.5
multiprocess==0.70.16
mypy-extensions==1.0.0
nbformat==4.2.0
nest-asyncio==1.5.7
networkx==3.1
numba==0.58.1
numpy==1.26.2
oauthlib==3.2.2
openai==1.11.1
opencv-python==4.10.0.84
openpyxl==3.1.2
opt-einsum==3.3.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathspec==0.12.1
patsy==0.5.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
platformdirs==3.10.0
plotly==5.18.0
plotly-express==0.4.1
plotnine==0.12.4
prompt-toolkit==3.0.36
protobuf==4.25.0
psutil==5.9.5
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pydantic==2.6.1
pydantic_core==2.16.2
pydeck==0.8.1b0
Pygments==2.16.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.9
pytz==2023.3
PyYAML==6.0.1
pyzmq==25.1.0
questionary==2.0.1
referencing==0.32.0
requests==2.32.3
requests-oauthlib==1.3.1
rich==13.7.0
rpds-py==0.13.2
rsa==4.9
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.1
seaborn==0.12.2
semantic-router==0.0.20
shap==0.43.0
shiny==0.10.2
six==1.16.0
sklearn==0.0.post7
slicer==0.0.7
smmap==5.0.1
sniffio==1.3.0
stack-data==0.6.2
starlette==0.37.2
statsmodels==0.14.0
streamlit==1.31.0
sympy==1.12
tenacity==8.2.3
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.9.26
toml==0.10.2
toolz==0.12.1
torch==2.2.2
torchtext==0.17.2
torchvision==0.15.2
tornado==6.3.2
tqdm==4.66.4
traitlets==5.9.0
tweepy==4.14.0
typing_extensions==4.8.0
tzdata==2023.3
tzlocal==5.2
uc-micro-py==1.0.3
urllib3==2.0.7
uvicorn==0.30.1
validators==0.22.0
watchfiles==0.22.0
wcwidth==0.2.6
websockets==12.0
Werkzeug==3.0.1
wrapt==1.14.1
xgboost==2.0.3
xxhash==3.4.1
yarl==1.9.4
yellowbrick==1.5
zipp==3.17.0
